email
facebook
tweet

I challenge you to a game of noughts and crosses! Play me at XXX (link to initialized game)

= form_for [@user] do |f|

  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :twitterhandle
    %br/
    = f.text_field :twitterhandle
  .actions
    = f.submit
