/ - if can? :manage, Game
/ = link_to(make a link on the username to their profile)
= @users.count

- @users.each do |user|
  %h1
    = link_to user.username, user
  - if user.avatar.thumb
    =image_tag (user.avatar.thumb)
  -else
    = image_tag(user.avatar, class: "user-avatar")

  .field-label
    Username:
    = user.username
  .field
    .field-label
      Score:
      = user.score




