!!! 5
%html
  %head
    %title NoughtsAndCrosses
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %a{href: "/"}
      .bannerspace
        %h1 ALL FOR NOUGHT
        %h2 (s and crosses)
    .boardspace
      =render "games/board"

    .navspace
      %ul
        %li.challenge Let's go!
        %li
          -if current_user
            Signed in as #{current_user.username},
            =link_to 'Sign out', signout_path, method: :delete
          -else
            =link_to "Sign in", signin_path
            or
            =link_to "Sign up", signup_path
      %ul
        %a.play{href: "/games/new"}
          %li.left
            =image_tag("gobuttonblue.jpg")
            .word
              Play
        %a.leaderboard{href: "/leaderboard"}
          %li.right
            =image_tag("rosette2.jpg")
            .word
              Leaderboard
    .action_space
      .wrapper
        = yield
