!!! 5
%html
  %head
    %title NoughtsAndCrosses
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %a{href: "/"}
      .bannerspace
        %h1 ALL FOR NOUGHT
        %h4 (s and crosses)
    .boardspace
      =link_to 'Home', "/"
      %br/
      =render "games/board"

    .navspace
      %ul
        %li Let's go!
        %li
          -if current_user
            Signed in as #{current_user.username},
            =link_to 'Sign out', signout_path, method: :delete
          -else
            =link_to "Sign in", signin_path
            or
            =link_to "Sign up", signup_path
      %ul
        %li
          =link_to 'Challenge computer', new_game_path(@game) #but want it to be in the "render "games/board" yield above (under .boardspace)"
        / %li
        /   Invite a friend
        %li
          =link_to "Display leaderboard (to challenge other user)", leaderboard_path

    .action_space
      = yield
